 <footer class="py-3  bg-dark text-white footer"  th:fragment="footer">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item"><a href="/support" class="nav-link px-2 text-white">FAQs</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-white">About</a></li>
        </ul>
        <p class="text-center text-white">© 2024 Company, Inc</p>
 </footer>
